html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
    background: rgb(132, 248, 242);
    align-content: center;
}

.container {
    width: 300px;
    min-height: 250px;
    margin: auto;
    background: rgb(85, 183, 228);
    color: rgb(68, 9, 53);
    padding: 3rem;
    text-align: center;
    align-content: center;
}

input [type=reset],
input [type=submit] {
    width: 1000px;
}

label {
    align-self: left;

}